# Introduction to Relational Operators

In [1]:
# Comparison of logicals
TRUE == FALSE

# Comparison of numerics

-6 * 14 != 17 - 101
# Comparison of character strings

"useR" == "user"

# Compare a logical with a numeric

TRUE == 1

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

# Greater Than And Less Than Operators

In [2]:
# Comparison of numerics

-6*5+2 >= -10+1

# Comparison of character strings

"raining" <= "raining dogs"
# Comparison of logicals
TRUE > FALSE

[1] FALSE

[1] TRUE

[1] TRUE

In [3]:
# The linkedin and facebook vectors have already been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15

# Quiet days

linkedin <= 5

# LinkedIn more popular than Facebook

linkedin > facebook

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE

In [4]:
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?

views == 13
# When is views less than or equal to 14?

views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE